@import "variables";

/* ----------MAIN-VIEW---------- */

.landing-app {
  background: url("img/background-app.png") no-repeat center;
  background-color: #6b5da8;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .info {
    width: 40%;
    float: left;
    margin-top: 90px;
    margin-left: 110px;
    h1 {
      font-family: "Kavoon", cursive;
      font-size: 44px;
      margin: 0 0 20px;
      line-height: 1.4;
      color: #35353f;
    }
    p {
      font-family: "poppins";
      margin: 0;
      line-height: 1.6;
      font-size: 15px;
      color: #35353f;
    }
    button {
      margin-top: 10px;
      padding: 0;
      border: none;
      background: none;
      &:hover {
        background-color: #4d0099;
      }
    }
  }
  .image {
    width: 50%;
    float: right;
    img {
      max-width: 80%;
    }
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
button {
  a {
    font-family: "poppins";
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 1200px) {
	.landing-app {
		.info {
			margin-left: 0px;
			margin-top: 100px;
		}
		.image {
			img {
				max-width: 90%;
			}
		}
	}
}
@media screen and (max-width: 820px) {
	.landing-app {
		background-image: url(img/background-main-mobile.png);
		.info {
			width: 100%;
			margin-top: 50px;
			margin-left: 20px;
		}
		.image {
			display: none;
		}
	}
}

/* ----------MAIN-VIEW---------- */
