@import "variables";

/* ----------NAVBAR----------- */
.navbar-brand {
  background: url(../img/Logotipo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 45px;
  margin-left: 30px;
}
.nav-link {
  font-family: $primary-font;
  color: $primary-color !important;
}
.navbar-nav {
  li {
    a {
      &:hover {
        color: #230146 !important;
      }
    }
  }
  li.active {
    a {
      color: #230146 !important;
    }
  }
}
/* ----------NAVBAR----------- */

/* ----------FOOTER----------- */
div.text-center.p-3 {
  background-color: $primary-color !important;
  font-family: $primary-font;
}
@media screen and (min-width: 820px) and (max-width: 1180px) {
  .navbar-brand {
    width: 180px;
  }
}
/* ----------FOOTER----------- */
