@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

/* ----------NAVBAR----------- */
.navbar-brand {
  background-image: url("img/Logotipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 45px;
  margin-left: 30px;
}

@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  .navbar-brand {
    width: 180px;
  }
}

.nav-link{
  font-family: 'poppins';
  color:#601EA2 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #230146 !important;
}

/* ----------NAVBAR----------- */

/* ----------FOOTER----------- */

div.text-center.p-3{
  background-color: #601EA2 !important;
  font-family: 'poppins';
}

/* ----------FOOTER----------- */


/* ----------MAIN-VIEW---------- */

.landing-page {
  background: url("img/background-main.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.landing-page .info {
  width: 40%;
  float: left;
  margin-top: 180px;
  margin-left: 100px;
}

.landing-page .info h1 {
  font-family: 'Kavoon', cursive;
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #35353F;
}

.landing-page .info p {
  font-family: 'poppins';
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #35353F;
}

.landing-page .info button {
  border: 0;
  border-radius: 10px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #601EA2;
}

.landing-page .image {
  width: 50%;
  float: right;
}

.landing-page .image img {
  max-width: 80%;
}

button a{
  font-family: 'poppins';
  text-decoration: none;
  color: #FFF;
}

button a:hover{
  color: #FFF;
}

.landing-page .info button:hover{
  background-color: #4d0099;
}

/* ----------MAIN-VIEW---------- */


/* ----------CARDS-DROPS----------- */

.container2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #EFF0F4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 25px;
}

.drop {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
}

.drop:nth-child(1) {
  border-radius: 49% 51% 70% 30% / 30% 30% 70% 70%;
}

.drop:nth-child(2) {
  border-radius: 49% 51% 41% 59% / 52% 30% 70% 48%;
}

.drop:nth-child(3) {
  border-radius: 76% 24% 40% 60% / 40% 69% 31% 60%;
}

.drop:hover {
  border-radius: 50%;
}

.drop::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 85px;
  width: 35px;
  height: 35px;
  
  opacity: 0.5;
}

.drop::after {
  content: '';
  position: absolute;
  top: 100px;
  left: 110px;
  width: 15px;
  height: 15px;
 
  opacity: 0.7;
}

.drop .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding-inline: 50px;
}

.drop .content h2 {
  position: relative;
  width: 80px;
  height: 80px;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05),
    15px 10px 15px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color);
}

.drop .content a {
  position: relative;
  padding: 10px 25px;
  background: var(--color);
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  transition: 0.5s;
}

.drop .content a:hover {
  cursor: pointer;
  opacity: 1;
}

.drop .content a::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: 0.5s;
}

.drop .content a:hover::before {
  transform: translateX(-50%) translateY(28px);
  width: 65%;
}

/* ----------CARDS-DROPS----------- 
Tablet
@media screen and (min-width: 820px) and (max-width: 1180px) {
}
Ordenador
@media screen and (min-width: 1200px) {
*/