
/* ----------NAVBAR----------- */
.navbar-brand {
  background-image: url("../img/Logotipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 45px;
  margin-left: 30px;
}

@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  .navbar-brand {
    width: 180px;
  }
}

.nav-link{
  font-family: 'poppins';
  color:#601EA2 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #230146 !important;
}

/* ----------NAVBAR----------- */



/* ----------FOOTER----------- */

div.text-center.p-3{
  background-color: #601EA2 !important;
  font-family: 'poppins';
}

/* ----------FOOTER----------- */