
/* ----------NAVBAR----------- */
.navbar-brand {
  background-image: url("../img/Logotipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 45px;
  margin-left: 30px;
}

@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  .navbar-brand {
    width: 180px;
  }
}

.nav-link{
  font-family: 'poppins';
  color:#601EA2 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #230146 !important;
}

/* ----------NAVBAR----------- */

/* CARRUSELES */
/* Mobile */

.personaje {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

h2 {
  text-align: center;
  justify-content: center;
}

.personaje img{
  margin-left: 30px;
}
.personaje .nombre img {
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personaje .descripcion {
  width: 90%;
  margin: 0 auto;
}

.descripcion p {
  margin-top: 10px;
  width: 90%;
  text-align: center;
<<<<<<< HEAD
 }

 /* Video Mensaje */

 mensaje {
  
 }


.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
=======
>>>>>>> ad8c1f12f416bfe7da9c2061c049b8458cfe1b8c
}

/* Mensaje */

.mensaje {
  position: relative;
  padding-top: 20px;
}

.mensaje img {
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
  cursor: default;
}

.overlay p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay .iconos-contenedor {
  display: flex;
}
.mensaje:hover img {
  opacity: 0.2;
}

.mensaje:hover .overlay {
  opacity: 1;
}

.overlay i {
  color: black;
  font-size: 10px;
  margin: 10px;
}

/* Tablet */

@media screen and (min-width: 820px) and (max-width: 1180px) {
  .personaje {
   
    align-items: center;
    justify-content: center;
    padding: 10px;
    
  }

  .personaje img {
    margin-left: 50px;

  }

  h2 {
    text-align: center;
    justify-content: center;
  }

  .personaje .nombre img {
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .personaje .descripcion {
    width: 90%;
    margin: 0 auto;
  }

  .descripcion p {
    margin-top: 10px;
    width: 90%;
    text-align: center;
  }


}

/* Ordenadores */

@media screen and (min-width: 1200px) {

  .personaje {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    flex-direction: column;
  
  }

  

  .personaje img{
    align-items: center;
    justify-content: center;
    margin-left: 10px;

  }
  .personaje .nombre img {
    width: 250px;
    border-radius: 50%;
    text-align: center;
  }

  .personaje .descripcion {
    width: 50%;
    margin: 0 80px;
  }

  .descripcion p {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    
  }
<<<<<<< HEAD
  
  
  .personaje .nombre img {
       width: 250px;
       border-radius: 50%;
     }
  
     .personaje .descripcion {
      width: 50%;
      margin: 0 80px;
     }
  
     .descripcion p {
      text-align: center;
      margin-top: 10px;
      width: 100%;
     }
  
  
  /* carrusel */
  .single-item {
    width: 50%;
    margin: 0 auto;
  }
  
  .single-item img{
    width: 100%;
  
  }
  
=======
   
>>>>>>> ad8c1f12f416bfe7da9c2061c049b8458cfe1b8c

.mensaje {
  display: flex;
  justify-content: center;

}

  .mensaje img {
    width: 70%;
  }


  .mensaje:hover img {
    opacity: 0.2;
  }
  
  .mensaje:hover .overlay {
    opacity: 1;
  }

 
}

/* ----------FOOTER----------- */

div.text-center.p-3{
  background-color: #601EA2 !important;
  font-family: 'poppins';
}

/* ----------FOOTER----------- */
