/* ----------NAVBAR----------- */
.navbar-brand {
  background-image: url("../img/Logotipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 45px;
  margin-left: 30px;
}

@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  .navbar-brand {
    width: 180px;
  }
}

.nav-link{
  font-family: 'poppins';
  color:#601EA2 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #230146 !important;
}

/* ----------NAVBAR----------- */

/* ----------FOOTER----------- */

div.text-center.p-3{
  background-color: #601EA2 !important;
  font-family: 'poppins';
}

/* ----------FOOTER----------- */

 /* Vista del encabezado de cartas*/

 .section-one{
  background: url("../img/fondo.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 * {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.section-one .imagen-formato{
  width: 50%;
  float: left;
}
.section-one .imagen-formato img{
  max-width: 70%;
  margin-top: 100px;
  margin-left: 180px;
  padding-top: 30px ;
}

.section-one .info-text{
  width: 40%;
  float: left;
}

.section-one .info-text {
  width: 40%;
  float: left;
  margin-top: 180px;
  margin-left: 100px;
}

.section-one .info-text h1 {
  font-family: 'Kavoon', cursive;
  font-size: 30px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #35353f;
}

.section-one .info-text img{
  height: 10vh;
}

.section-one .info-text p {
  font-family: 'poppins';
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #35353F;
}
 
.section-one .info-text button{
  border: 0;
  border-radius: 10px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #601EA2;
  
}

.section-one .info-text a{
  text-decoration: none;
  color:#FFF
}
/*primera seccion de la vista cartas*/


/* Carrusel de los perfiles para la persolnalizacion de las cartas */
.carrousel
.content-all{
  width: 210px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
}

.content-carrousel{
  width: 150%;
  position: absolute;
  animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover{
  animation-play-state: paused;
}

.content-carrousel figure{
  width: 100%;
  height: 120%;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:hover{
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px)}
.content-carrousel figure:nth-child(2){transform: rotateY(72deg) translateZ(300px)}
.content-carrousel figure:nth-child(3){transform: rotateY(144deg) translateZ(300px)}
.content-carrousel figure:nth-child(4){transform: rotateY(216deg) translateZ(300px)}
.content-carrousel figure:nth-child(5){transform: rotateY(288deg) translateZ(300px)}
.content-carrousel figure:nth-child(6){transform: rotateY(360deg) translateZ(300px)}

.content-carrousel img{
  width: 100%;
}

.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from{
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}
/* Carrusel de los perfiles para la persolnalizacion de las cartas */

/*Carrusel de cartas*/
.galeria-noel{
  width: 50%;
  margin-left: 30px;
}


.slider-noel{
  padding: 10px;
}

.lista-noel img{
  width: 100%;
  object-fit: cover;
  width: 300px;
  height: 400px;
  margin-right: 10px;
  display: block;
}

.lista-noel{
  display: flex;
  overflow-y: auto;
  margin-top: 20px;
}

/*Carrusel de cartas
.slider-container {
  scroll-snap-type: x mandatory;
}

.slider-container img {
  scroll-snap-align: center;
}

.slider-container{
    display: flex;
    width: 100%;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }
  */
