/* Vista del encabezado de cartas*/

 .section-one{
  background: url("../img/fonfo-movin.png") no-repeat center;
  background-size: cover;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 * {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.section-one .imagen-formato{
  width: 100%;
}
.section-one .imagen-formato img{
width: 80%;
display:block;
padding-top: 80px;
padding-left: 90px;

}

.section-one .info-text {
  width: 60%;
  margin-top: 20px;
  margin-left: 90px;
  justify-content: center;
}

.section-one .info-text h1 {
  font-family: 'Kavoon', cursive;
  font-size: 20px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #35353f;
  text-align: center;
}

.section-one .info-text img{
height: 10vh;
 display:block;
 margin:auto;
 padding-top: 5px;
 justify-content: center;
}

.section-one .info-text p {
  font-family: 'poppins';
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #35353F;
  text-align: center;
}
 
.section-one .info-text button{
  border: 0;
  border-radius: 10px;
  padding: 12px 30px;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
  color: #FFF;
  background-color: #601EA2;
}

.section-one .info-text a{
  text-decoration: none;
  color:#FFF
}
/*primera seccion de la vista cartas*/


/*Carrusel de los perfiles para la persolnalizacion de las cartas*/
.carrousel-persons{
  background-color: #EFF0F4;
  background-size: cover;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-all{
  width: 100%;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: auto;
}

.content-carrousel{
  margin-top: 20px;
  padding-top: 60px;
  width: 10%;
  position: absolute;
  animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
  z-index: none;
}

.content-carrousel:hover{
  animation-play-state: paused;
}

.content-carrousel figure{
  width: 65%;
  height: 20%;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:hover{
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(40deg) translateZ(300px)}
.content-carrousel figure:nth-child(2){transform: rotateY(80deg) translateZ(300px)}
.content-carrousel figure:nth-child(3){transform: rotateY(120deg) translateZ(300px)}
.content-carrousel figure:nth-child(4){transform: rotateY(160deg) translateZ(300px)}
.content-carrousel figure:nth-child(5){transform: rotateY(200deg) translateZ(300px)}
.content-carrousel figure:nth-child(6){transform: rotateY(240deg) translateZ(300px)}
.content-carrousel figure:nth-child(7){transform: rotateY(280deg) translateZ(300px)}
.content-carrousel figure:nth-child(8){transform: rotateY(320deg) translateZ(300px)}
.content-carrousel figure:nth-child(9){transform: rotateY(360deg) translateZ(300px)}


.content-carrousel img{
  width: 100%;
}

.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from{
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}
/* Carrusel de los perfiles para la persolnalizacion de las cartas */

/*perfil del personaje*/
.section-three{
  background-color: #7263B4;
  background-size: cover;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.section-three .perfil-noel{
  width: 90%; 
  height: 80%; 
  background: #eff0f464;
  border-radius: 30px;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.perfil-noel .noel-img img{
 height: 15vh;
 display:block;
 margin:auto;
 padding-top: 5px;
}

.section-three .nombre h1 {
  font-family: 'Kavoon', cursive;
  font-size: 25px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #35353f;
  text-align: center;
}
/*perfil del personaje*/


/*Carrusel de cartas*/

.section-four{
  background-color: #EFF0F4;
  background-size: cover;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider{
  width: 90%;
  display: flex;
  justify-content: center;
  overflow: hidden
}

.lista-cartas img{
  width: 100%;
  object-fit: cover;
  width: 300px;
  height: 400px;
  margin-right: 10px;
  display: block;
  scroll-behavior: smooth;
  margin-top: 30px;
}

.lista-cartas img:hover{
  filter: opacity(.5);
}
.lista-cartas{
  display: flex;
  overflow-y: auto;
  margin-left: 100px;
  overflow: hidden;

}
/*Carrusel de cartas*/

/*
/*Tablet*/
@media screen and (min-width: 820px) and (max-width: 1180px) {
  .section-one{
    background: url("../img/fondo.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
  
   * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .section-one .imagen-formato{
    width: 50%;
    float: left;
  }
  .section-one .imagen-formato img{
    max-width: 80%;
    margin-top: 100px;
    margin-left: 120px;
    padding-top: 130px ;
  }
  
  .section-one .info-text{
    width: 40%;
    float: right;
  }
  
  .section-one .info-text {
    width: 35%;
    float: left;
    margin-top: 260px;
    margin-left: 10px;
  }
  
  .section-one .info-text h1 {
    font-family: 'Kavoon', cursive;
    font-size: 30px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #35353f;
    /*text-align: center;*/
  }
  
  .section-one .info-text img{
    height: 10vh;
  }
  
  .section-one .info-text p{
    font-family: 'poppins';
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #35353F;
  }
   
  .section-one .info-text button{
    border: 0;
    border-radius: 10px;
    padding: 12px 10px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #601EA2;
    margin-left: 130px;
  }
  
  .section-one .info-text a{
    text-decoration: none;
    color:#FFF
  }
  /*primera seccion de la vista cartas*/
  
  
  /*Carrusel de los perfiles para la persolnalizacion de las cartas*/
  .carrousel-persons{
    background-color: #EFF0F4;
    background-size: cover;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-all{
    width: 100%;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: auto;
  }
  
  .content-carrousel{
    margin-top: 10px;
    width: 50%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
    z-index: none;
  }
  
  .content-carrousel:hover{
    animation-play-state: paused;
  }
  
  .content-carrousel figure{
    width: 65%;
    height: 20%;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
  }
  
  .content-carrousel figure:hover{
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
  }
  
  .content-carrousel figure:nth-child(1){transform: rotateY(40deg) translateZ(300px)}
  .content-carrousel figure:nth-child(2){transform: rotateY(80deg) translateZ(300px)}
  .content-carrousel figure:nth-child(3){transform: rotateY(120deg) translateZ(300px)}
  .content-carrousel figure:nth-child(4){transform: rotateY(160deg) translateZ(300px)}
  .content-carrousel figure:nth-child(5){transform: rotateY(200deg) translateZ(300px)}
  .content-carrousel figure:nth-child(6){transform: rotateY(240deg) translateZ(300px)}
  .content-carrousel figure:nth-child(7){transform: rotateY(280deg) translateZ(300px)}
  .content-carrousel figure:nth-child(8){transform: rotateY(320deg) translateZ(300px)}
  .content-carrousel figure:nth-child(9){transform: rotateY(360deg) translateZ(300px)}
  
  
  .content-carrousel img{
    width: 100%;
  }
  
  .content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
  }
  
  @keyframes rotar {
    from{
      transform: rotateY(0deg);
    } to {
      transform: rotateY(360deg);
    }
  }
  /* Carrusel de los perfiles para la persolnalizacion de las cartas */
  
  /*perfil del personaje*/
  .section-three{
    background-color: #7263B4;
    background-size: cover;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
  
  .section-three .perfil-noel{
    width: 90%;
    height: 80%; 
    background: #eff0f464;
    border-radius: 30px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .perfil-noel .noel-img img{
   height: 15vh;
   display:block;
   margin:auto;
   padding-top: 5px;
  }
  
  .section-three .nombre h1 {
    font-family: 'Kavoon', cursive;
    font-size: 25px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #35353f;
    text-align: center;
  }
  /*perfil del personaje*/
  
  
  /*Carrusel de cartas*/
  
  .section-four{
    background-color: #EFF0F4;
    background-size: cover;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .slider-noel{
    width: 90%;
    margin-left: 30px;
  }
  
  
  .slider-noel{
    padding: 10px;
  }
  
  .lista-cartas img{
    width: 100%;
    object-fit: cover;
    width: 300px;
    height: 400px;
    margin-right: 10px;
    display: block;
  }
  
  .lista-cartas{
    display: flex;
    overflow-y: auto;
    margin-top: 20px;
  }
}

/*ordenador*/
@media screen and (min-width: 1200px){
  .section-one{
    background: url("../img/fondo.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
  
   * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .section-one .imagen-formato{
    width: 50%;
    float: left;
  }
  .section-one .imagen-formato img{
    max-width: 80%;
    margin-top: 100px;
    margin-left: 150px;
    padding-top: 30px ;
  }
  
  .section-one .info-text{
    width: 40%;
    float: right;
  }
  
  .section-one .info-text {
    width: 35%;
    float: left;
    margin-top: 180px;
    margin-left: 10px;
  }
  
  .section-one .info-text h1 {
    font-family: 'Kavoon', cursive;
    font-size: 30px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #35353f;
    /*text-align: center;*/
  }
  
  .section-one .info-text img{
    height: 10vh;
  }
  
  .section-one .info-text p{
    font-family: 'poppins';
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #35353F;
  }
   
  .section-one .info-text button{
    border: 0;
    border-radius: 10px;
    padding: 12px 10px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #601EA2;
    margin-left: 155px;
  }
  
  .section-one .info-text a{
    text-decoration: none;
    color:#FFF
  }
  /*primera seccion de la vista cartas*/
  
  
  /*Carrusel de los perfiles para la persolnalizacion de las cartas*/
  .carrousel-persons{
    background-color: #EFF0F4;
    background-size: cover;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-all{
    width: 180px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: auto;
  }
  
  .content-carrousel{
    margin-top: 50px;
    width: 150%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
    z-index: none;
  }
  
  .content-carrousel:hover{
    animation-play-state: paused;
  }
  
  .content-carrousel figure{
    width: 65%;
    height: 20%;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
  }
  
  .content-carrousel figure:hover{
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
  }
  
  .content-carrousel figure:nth-child(1){transform: rotateY(40deg) translateZ(300px)}
  .content-carrousel figure:nth-child(2){transform: rotateY(80deg) translateZ(300px)}
  .content-carrousel figure:nth-child(3){transform: rotateY(120deg) translateZ(300px)}
  .content-carrousel figure:nth-child(4){transform: rotateY(160deg) translateZ(300px)}
  .content-carrousel figure:nth-child(5){transform: rotateY(200deg) translateZ(300px)}
  .content-carrousel figure:nth-child(6){transform: rotateY(240deg) translateZ(300px)}
  .content-carrousel figure:nth-child(7){transform: rotateY(280deg) translateZ(300px)}
  .content-carrousel figure:nth-child(8){transform: rotateY(320deg) translateZ(300px)}
  .content-carrousel figure:nth-child(9){transform: rotateY(360deg) translateZ(300px)}
  
  
  .content-carrousel img{
    width: 100%;
  }
  
  .content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
  }
  
  @keyframes rotar {
    from{
      transform: rotateY(0deg);
    } to {
      transform: rotateY(360deg);
    }
  }
  /* Carrusel de los perfiles para la persolnalizacion de las cartas */
  
  /*perfil del personaje*/
  .section-three{
    background-color: #7263B4;
    background-size: cover;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
  
  .section-three .perfil-noel{
    width: 90%; 
    height: 80%;
    background: #eff0f464;
    border-radius: 30px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .perfil-noel .noel-img img{
   height: 15vh;
   display:block;
   margin:auto;
   padding-top: 5px;
  }
  
  .section-three .nombre h1 {
    font-family: 'Kavoon', cursive;
    font-size: 25px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #35353f;
    text-align: center;
  }
  /*perfil del personaje*/
  
  
  /*Carrusel de cartas*/
  
  .section-four{
    background-color: #EFF0F4;
    background-size: cover;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .slider-noel{
    width: 90%;
    margin-left: 30px;
  }
  
  
  .slider-noel{
    padding: 10px;
  }
  
  .lista-cartas img{
    width: 100%;
    object-fit: cover;
    width: 300px;
    height: 400px;
    margin-right: 10px;
    display: block;
  }
  
  .lista-cartas{
    display: flex;
    overflow-y: auto;
    margin-top: 20px;
  }
}
